# Proposal files
Application/extract_data.ipynb


Application/sensitivity_analysis_nb_with_D0.ipynb
Application/Proposal_backup.ipynb
Application/extract_data.ipynb
# Directories
validation_backup/
old_backups/
plot&docs/
Level_1/
Level_1_result/
Level_2/
Level_3/
analysis/


#Plots
*.png
