# Backup and scratch files
Application/extract_data.ipynb
Application/sensitivity_analysis_nb_with_D0.ipynb
Application/sensitivity_analysis_nb.ipynb
Application/Proposal_backup.ipynb
*copy*
* copy*
*_copy.*
# Directories
validation_backup/
old_backups/
plot&docs/
Level_1/
Level_1_result/
Level_2/
Level_3/
analysis/


# Word documents
*.docx
~$*.docx

#Plots
*.png

# Python bytecode
__pycache__/
*.pyc
*.pyo
